
body {
    font: 11px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.tooltip {
    position: absolute;
    width: 90px;
    height: 50px;
    pointer-events: none;
    background-color: white;
}

.label {
    fill: black;
    font-size: 14px;
}

.drop-list-container {
    display: flex;
    flex-direction: row;
    width: 900px;
    justify-content: space-around;
}
